{% extends 'base.html' %}
{% block content %}
<h4>Showing list for: {{ name }}</h4>

<div> <div class="from-to"> <h5 style="color:black;display:inline-block;"> From-Home</h5>
        <form action="" method="post">
        {% csrf_token %}
            <div><div style="display: inline-block;"><input type="text" class="form-control" placeholder="Add to list" name="from"></div>
                <div style="display: inline-block;"><button type="submit" class="btn btn btn-primary">Add</button></div>
            </div>
        </form>

        </div>
</div>

<ul class="list-group"  >
      {% for item in data %}
        {% if item.fromHome %}
              <li class="list-group-item"><div>
                  <div style="display:inline-block;"><p>{{ item.title }}</p> </div>
                  <div style="display:inline-block;"><a href="{% url 'del_task'  item.id %}">delete</a></div></li>
              </div>

        {% endif %}
      {% endfor %}
</ul>

<div> <div class="from-to"> <h5 style="color:black;display:inline-block;"> To-Home</h5>
        <form action="" method="post">
        {% csrf_token %}
            <div style="margin-left:20px"><div style="display: inline-block;"><input type="text" class="form-control" placeholder="Add to list" name="to"></div>
                <div style="display: inline-block;"><button type="submit" class="btn btn btn-primary">Add</button></div></div>
        </form>

        </div>
</div>
<ul class="list-group"  >
      {% for item in data %}
        {% if item.fromHome == 0 %}
              <li class="list-group-item"><div>
                  <div style="display:inline-block;"><p>{{ item.title }}</p> </div>
                  <div style="display:inline-block;"><a href="{% url 'del_task'  item.id %}">delete</a></div></li>
              </div>

        {% endif %}
      {% endfor %}
</ul>
<!-- <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th colspan="2">Title</th>
                          <th>Quantity</th>
                          <th>Unit price</th>
                          <th>Discount</th>
                          <th colspan="2">Total</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><a href="#"><img src="img/detailsquare.jpg" alt="White Blouse Armani"></a></td>
                          <td><a href="#">White Blouse Armani</a></td>
                          <td>
                            <input type="number" value="2" class="form-control">
                          </td>
                          <td>$123.00</td>
                          <td>$0.00</td>
                          <td>$246.00</td>
                          <td><a href="#"><i class="fa fa-trash-o"></i></a></td>
                        </tr>
                        <tr>
                          <td><a href="#"><img src="img/basketsquare.jpg" alt="Black Blouse Armani"></a></td>
                          <td><a href="#">Black Blouse Armani</a></td>
                          <td>
                            <input type="number" value="1" class="form-control">
                          </td>
                          <td>$200.00</td>
                          <td>$0.00</td>
                          <td>$200.00</td>
                          <td><a href="#"><i class="fa fa-trash-o"></i></a></td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <th colspan="5">Total</th>
                          <th colspan="2">$446.00</th>
                        </tr>
                      </tfoot>
                    </table>
                  </div> --->
{% endblock %}
